---
import '../../style/global.css';
import BlogPostHeader from '../../components/BlogPostHeader.astro';
import { getSlugFromPath } from '../../utils/get-slug-from-path';
import { ViewTransitions } from 'astro:transitions';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths({ paginate, rss }: any) {
  const allPosts = await Astro.glob('../../content/books/*.md');

  const paths = allPosts.map((post) => {
    const slug = getSlugFromPath(post.file);
    return {
      params: {
        slug,
      },
      props: { post },
    };
  });

  return paths;
}

const { post } = Astro.props;
---

<html lang="en">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content={post.frontmatter.description} />
    <meta name="twitter:image" content={post.frontmatter.imageURL} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@t3dotgg" />
    <meta property="og:title" content={post.frontmatter.title} />
    <meta property="og:description" content={post.frontmatter.description} />
    <meta property="og:image" content={post.frontmatter.imageURL} />
    <meta name="theme-color" content="#000000" />
    <title>{post.frontmatter.title}</title>

    <script defer data-domain="astro.t3.gg" src="https://t3.gg/js/script.js"></script>
  </head>
  <Layout>
    <body class="bg-theo-purple/40">
      <div class="page flex h-full w-full justify-center">
        <div class="max-w-full px-4 pt-8 lg:w-[42rem] lg:px-0 xl:w-[64rem]">
          <article class="prose prose-lg lg:prose-xl max-w-none pb-10">
            <div class="pb-8">
              <a href="/books">{'<- Back to List'}</a>
            </div>
            <main>
              <div class="flex">
                <BlogPostHeader post={post.frontmatter} />
                <div class="w-full flex-grow flex-col rounded-lg border-2 px-10 text-center">
                  <h2
                    class="m-0 p-0 font-bold"
                    style={'margin-block-end: 0; margin-block-start: 1rem;'}
                  >
                    {post.frontmatter.title} - {post.frontmatter.author}
                    {post.frontmatter.rating}
                  </h2>
                  <post.Content />
                </div>
              </div>
            </main>
          </article>
        </div>
      </div>
    </body>
  </Layout>


</html>
